.errors {
    color: red;
}

.users_container {
    padding-left: 150px;
    padding-right: 150px;
}

.admin_list {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;

}

.admin_box {
    padding-left: 10px;
    margin-top: 10px;
    border: 3px solid black;
}

.avatar {
    width: 90px;
    height: 120px;
    border: 1px solid black;
}

.authorization {
    text-align: center;
}

.authorForm {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 35%;
}

.authorFormItem {
    margin-top: 10px;
}




